# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment variables and virtual environments
.env
*.env
env/
venv/
venv*/

# Distribution and packaging
build/
dist/
*.egg-info/
.eggs/

# Testing and coverage reports
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debugging files
*.log
*.out
*.err

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak
*.orig

# System files
.DS_Store
Thumbs.db

# Local configuration files
*.local
*.config

data/
scratch/